/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* COMMON */
html {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 1em 0;
}

main .container {
  width: 50%;
  margin: 0 auto;
  padding: 4em 0;
  text-align: center;
}
main p {
  font-size: 0.8rem;
  line-height: 1.4rem;
  padding: 2em 0;
}

main p span {
  font-style: italic;
  color: lightcoral;
}
